@page
@model tfpugsdotcom.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="general-content-container" style="text-align: center;">
    <h1 class="page-title">About tfpugs.com</h1>
    <p class="mt-4">
        TFpugs is a community for playing 4v4 pickup matches in Team Fortress Classic and other classic online games. 
        We are currently hosting servers in North and South America, but we welcome players of all skill levels from all regions. 
        Pickup matches are now the best way to play classic games, and although they can be played at a high skill level, 
        we are happy to help new players wanting to learn the game. Join the discord for guides and to ask for any assistance. 
        I am philchute on discord, <a href="https://www.philchute.com">philchute.com</a> for more information about other games and projects of mine, 
        source code for this website is available <a href="https://github.com/philchute/tfpugs-website">here</a>.
    </p>
</div> 