@page
@model IndexModel
@{
    ViewData["Title"] = "tfpugs.com - Team Fortress Pickup Games";
}

  <main class="py-4">
    <div class="row justify-content-center">
      <div class="col-md-8" style="text-align: center;">
        <div class="p-4">
          <h1 class="page-title">Welcome to tfpugs.com</h1>
          <p>
            tfpugs.com is your home for Team Fortress Classic 4v4 pickup games. 
            <a href="https://discord.gg/MmZeyPUH6q">Join the Discord Server</a> for more information and to join pickup games.
            This website is currently in a PREVIEW state as we are in the process of rebuilding our pug tools.
            Live data including recent matches and rankings are not yet updating live to the site until we switch entirely to the new bot.
            Please reach out if you have any issues with this site, design comments, or suggestions for new features.
          </p>
        </div>
      </div>
    </div>
  </main>
</div>
